.codeWrap {
    padding: 10px;
    border-radius: 6px;
    font-size: 16px; 
    background: var(--bg-color); 
    overflow: auto;
    text-wrap: auto;
    word-break: break-word;
}

.codeWrap span {
   text-wrap: auto;
   word-break: break-word;
}

/* 移动端适配 */
@media (max-width: 768px) {
    .codeWrap {
        font-size: 14px;
        padding: 8px;
    }
}